<div class='card'>
    <div class='card-header'>
        Diligenciar Encuesta parcial
    </div>
    <div class='card-body'>
        <form novalidate
              autocomplete="off"
              (ngSubmit)="save()" 
              [formGroup]="encuestaParcialForm" >

            <div class="form-group row">
                <label 
                    for="firstNameId">1. La experiencia con el instructor ha sido positiva hasta 
                                      el momento ¿ Por que ?</label>

            </div>
            <div class="col-md-8">
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input"
                            type="radio"
                            value="1"
                            formControlName="si1"> Si
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="form-check-input"
                            type="radio"
                            value="2"
                            formControlName="no1"> No
                    </label>
                </div>                
            </div>

        </form>
    </div>

</div>
