<div class='card'>
    <div class='card-header'>
        Diligenciar Encuesta parcial
    </div>
    <div class='card-body'>
        <form novalidate
              autocomplete="off"
              (ngSubmit)="save()" 
              [formGroup]="encuestaParcialForm" >

            <div class="form-group row">
                <label 
                    for="firstNameId">1. La experiencia con el instructor ha sido positiva hasta 
                                      el momento ¿ Por que ?</label>

            </div>

        </form>
    </div>

</div>
