<div class="card-header">
    {{pageTitle}}
</div>
<table>
    <tr>
        <button class='btn btn-outline-secondary'> Consultar</button><input type="text">

        <button class='btn btn-outline-secondary'>Exportar en PDF</button>
    </tr>
</table>
<input type="text">

<div class='card-body'>
    <div class='row'>
        <div class='col-md-2'>
            <h4>Reportes:</h4>
        </div>
        <div class='col-md-4'>
            <input type='text'
                   [(ngModel)]='eventoid' />
        </div>
        <h5> ¿Por que desea consultar?</h5>
        <select class="form-control"
                id="encuesta_Inicio"
                formControlName="encuesta_Inicio"
                style="width:200px">
            <option *ngFor="let encuesta_Inicio  of tipoReporte"
                    [value]="encuesta_Inicio.id">
                {{encuesta_Inicio.name}}
            </option>
        </select>
    </div>
<p></p>
    <div class='row'>
        <div class='col-md-2'>
            <h4>Fecha Inicio:</h4>
        </div>
        <div class='col-md-4'>
            <input type='text' />
        </div>

        <div class='col-md-2'>
            <h4>Fecha Final:</h4>
        </div>
        <div class='col-md-4'>
            <input type='text' />
        </div>
    </div>

    <p></p>
    <button class='btn btn-primary'
            (click)='getReportes()'
            style='width:150px'>
        Consultar Reporte
    </button>
</div>

<div>
    <iframe width="80%"
            height="500"
            src=""
            id="report">
    </iframe>

</div>