<div class="card-header">
    {{pageTitle}}
</div>
<div class='card-body'>
    <div class='row'>
        <div class='col-md-2'>
            <h4>ID Evento:</h4>
        </div>
        <div class='col-md-4'>
            <input type='text'
                   [(ngModel)]='eventoid' />
        </div>
        <h5> *Tipo encuesta</h5>
        <select class="form-control"
                id="encuesta"
                style="width:200px" [(ngModel)]='encuesta'
                
                >
            <option *ngFor="let encuesta  of tipoReporte"
                    [value]="encuesta.id">
                {{encuesta.name}}
            </option>
        </select>
    </div>
<p></p>
    <div class='row'>
        <div class='col-md-2'>
            <h4>Fecha Inicio:</h4>
        </div>
        <div class='col-md-4'>
            <input type='date' [(ngModel)]='fechaInicial'/>
        </div>

        <div class='col-md-2'>
            <h4>Fecha Final:</h4>
        </div>
        <div class='col-md-4'>
            <input type='date' [(ngModel)]='fechaFinal'/>
        </div>
    </div>

    <p></p>
    <button class='btn btn-primary'
            (click)='getReportes()'
            [disabled]="(encuesta ==='-1' || fechaInicial ==='undefined' && eventoid ==='')"
            style='width:150px'>
        Consultar Reporte
    </button>
</div>

<div>
    <iframe width="80%"
            height="500"
            src=""
            id="report">
    </iframe>

</div>