<div class='card'>
    <div class='card-header'>
        Diligenciar Encuesta Final
    </div>
    <div class='card-body'>
        <div>
            <p>Como parte de nuestro proceso de mejora continua, Bmind hace llegar a ustedes esta encuesta de
                satisfacción. Elija de la lista las respuestas correspondientes. </p>
            <p></p>
            <p>Los resultados de la evaluación son confidenciales y son revisados por nuestro Departamento de Calidad,
                en aras de un mejor servicio</p>
        </div>
        <br>
        <div class='row'>
            <div class='col-md-2'>Curso:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='curso' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Evento Id:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='eventoId'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Instructor:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='instructor'/>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Fecha:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='fecha' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-2'>Quien Diligencia:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='quiendiligencia' />
            </div>
        </div>



        <div class='row'>
            <div class='col-md-2'>Email:</div>
            <div class='col-md-3'>
                <input type='text'
                       [(ngModel)]='email' />
            </div>
        </div>
        <p></p>

        
        <form novalidate
              autocomplete="off"
              (ngSubmit)="guardarEncuestas()"
              [formGroup]="encuestaFinalForm">
            <fieldset>
                <legend>
                    <th>1. Instructor</th>
                    <table>

                        <tr>
                           * ¿Demostro el domino del tema?
                            <select class="form-control"
                                    id="rtas_1"
                                    formControlName="rtas_1"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_1').touched || 
                                    encuestaFinalForm.get('rtas_1').dirty) &&
                                    !encuestaFinalForm.get('rtas_1').valid }">

                                <option *ngFor="let rtas_1 of respuesta"
                                        [value]="rtas_1.id">
                                    {{rtas_1.name}}
                                </option>
                            </select>

                            <span class="invalid-feedback">
                                <span *ngIf="encuestaFinalForm.get('rtas_1').errors?.required">
                                    Por favor responda esta pregunta
                                </span>
                                <span *ngIf="encuestaFinalForm.get('rtas_1').errors?.minlength">
                                    Por favor responda esta pregunta
                                </span>
                            </span>
                        </tr>

                        <tr>
                           * ¿Tuvo un adecuado manejo didactivo?
                            <select class="form-control"
                                    id="rtas_2"
                                    formControlName="rtas_2"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_2').touched || 
                                    encuestaFinalForm.get('rtas_2').dirty) &&
                                    !encuestaFinalForm.get('rtas_2').valid }">

                                <option *ngFor="let rtas_2 of respuesta"
                                        [value]="rtas_2.id">
                                    {{rtas_2.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                <span *ngIf="encuestaFinalForm.get('rtas_2').errors?.required">
                                    Por favor responda esta pregunta
                                </span>
                                <span *ngIf="encuestaFinalForm.get('rtas_2').errors?.minlength">
                                    Por favor responda esta pregunta
                                </span>
                            </span>
                        </tr>

                        <tr>
                          *  ¿Los temas presentados lograron los objetivos del curso?
                            <select class="form-control"
                                    id="rtas_3"
                                    formControlName="rtas_3"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_3').touched|| 
                                    encuestaFinalForm.get('rtas_3').dirty) &&
                                    !encuestaFinalForm.get('rtas_3').valid }"
                                    >
                                <option *ngFor="let rtas_3 of respuesta"
                                        [value]="rtas_3.id">
                                    {{rtas_3.name}}
                                </option>
                            </select>

                            <span class="invalid-feedback">
                                <span *ngIf="encuestaFinalForm.get('rtas_3').errors?.required">
                                    Por favor responda esta pregunta
                                </span>
                                <span *ngIf="encuestaFinalForm.get('rtas_3').errors?.minlength">
                                    Por favor responda esta pregunta
                                </span>
                            </span>                            
                        </tr>

                    </table>
                </legend>
            </fieldset>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios1">
                        Comentarios y Sugerencias
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios1"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios1">

                    </textarea>
                    </div>
                </div>
            </tr>

            
            <fieldset>
                <legend>
                    <th> 2. Centro Educativo</th>
                    <table>
                        <tr>
                           * ¿Las instalaciones se encontraron limpias y en buenas condiciones ?
                            <select class="form-control"
                                    id="rtas_4"
                                    formControlName="rtas_4"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_4').touched || 
                                    encuestaFinalForm.get('rtas_4').dirty) &&
                                    !encuestaFinalForm.get('rtas_4').valid }"
                                    >
                                <option *ngFor="let rtas_4 of respuesta"
                                        [value]="rtas_4.id">
                                    {{rtas_4.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_4').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_4').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>            
                        </tr>

                        <tr>
                          *  ¿El aula de clase es comoda y favorable para el aprendizaje?
                            <select class="form-control"
                                    id="rtas_5"
                                    formControlName="rtas_5"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_5').touched || 
                                    encuestaFinalForm.get('rtas_5').dirty) &&
                                    !encuestaFinalForm.get('rtas_5').valid}"
                                    >
                                <option *ngFor="let rtas_5 of respuesta"
                                        [value]="rtas_5.id">
                                    {{rtas_5.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_5').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_5').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>  
                        </tr>
                    </table>
                </legend>
            </fieldset>


            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios2">
                        <th>Comentarios y Sugerencias</th>
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios2"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios2">

                    </textarea>
                    </div>
                </div>
            </tr>




            <fieldset>
                <legend>
                    <th>3. Ambiente Tecnico (Equipo Soporte Tecnico)</th>
                    <table>
                        <tr>
                            * ¿El ambiente de curso esta configurada de manera adecuada /Laboratorios,Maquina
                            Fisica,Virtual?
                            <select class="form-control"
                                    id="rtas_6"
                                    formControlName="rtas_6"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_6').touched || 
                                    encuestaFinalForm.get('rtas_6').dirty) &&
                                    !encuestaFinalForm.get('rtas_6').valid }"
                                    >
                                <option *ngFor="let rtas_6 of respuesta"
                                        [value]="rtas_6.id">
                                    {{rtas_6.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_6').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_6').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>  
                        </tr>
                        <tr>
                           * ¿Los problemas tecnicos fueron resueltos oportunamente (si existieron)?
                            <select class="form-control"
                                    id="rtas_7"
                                    formControlName="rtas_7"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_7').touched || 
                                    encuestaFinalForm.get('rtas_7').dirty) &&
                                    !encuestaFinalForm.get('rtas_7').valid }"
                                    >
                                <option *ngFor="let rtas_7 of respuesta"
                                        [value]="rtas_7.id">
                                    {{rtas_7.name}}
                                </option>
                            </select>

                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_7').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_7').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>  

                        </tr>

                        <tr>
                          *  ¿El equipo de soporte tecnicos estuvo disponible y fue diligencia?
                            <select class="form-control"
                                    id="rtas_8"
                                    formControlName="rtas_8"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_8').touched || 
                                    encuestaFinalForm.get('rtas_8').dirty) &&
                                    !encuestaFinalForm.get('rtas_8').valid }"
                                    >
                                <option *ngFor="let rtas_8 of respuesta"
                                        [value]="rtas_8.id">
                                    {{rtas_8.name}}
                                </option>
                            </select>

                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_8').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_8').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>  

                        </tr>
                    </table>
                </legend>
            </fieldset>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios3">
                        Comentarios y Sugerencia
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios3"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios3">

                    </textarea>
                    </div>
                </div>
            </tr>


            <fieldset>
                <legend>
                    <th> 4. Atencion y Servicio al Cliente(Cordinadora de Capacitacion)</th>
                    <table>
                        <tr>
                          * ¿Fue informado de los procesos de capatacion(lista de asistencias, evaluaciones, horario de
                            refrigeria)?
                            <select class="form-control"
                                    id="rtas_9"
                                    formControlName="rtas_9"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_9').touched || 
                                        encuestaFinalForm.get('rtas_9').dirty) &&
                                        !encuestaFinalForm.get('rtas_9').valid}"
                                    >
                                <option *ngFor="let rtas_9 of respuesta"
                                        [value]="rtas_9.id">
                                    {{rtas_9.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_9').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_9').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span>  

                        </tr>
                        <tr>
                          *  Sus inquietudes fueron resueltas de forma clara y oportuna
                            <select class="form-control"
                                    id="rtas_10"
                                    formControlName="rtas_10"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_10').touched || 
                                        encuestaFinalForm.get('rtas_10').dirty) &&
                                        !encuestaFinalForm.get('rtas_10').valid}"
                                    >
                                <option *ngFor="let rtas_10 of respuesta"
                                        [value]="rtas_10.id">
                                    {{rtas_10.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_10').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_10').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span> 
                        </tr>



                        
                        <tr>
                          *  ¿la persona que la atendio fue amable y cortes?
                            <select class="form-control"
                                    id="rtas_11"
                                    formControlName="rtas_11"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_11').touched || 
                                    encuestaFinalForm.get('rtas_11').dirty) &&
                                    !encuestaFinalForm.get('rtas_11').valid}">

                                <option *ngFor="let rtas_11 of respuesta"
                                        [value]="rtas_11.id">
                                    {{rtas_11.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_11').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_11').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span> 


                        </tr>
                    </table>
                </legend>
            </fieldset>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios4">
                        Comentarios y Sugerencias
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios4"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios4">

                    </textarea>
                    </div>
                </div>
            </tr>

            <fieldset>
                <legend>
                    <th>5. Refrigeraciones</th>
                    <table>
                        <tr>
                           * ¿Los refrigerios que se suministraron fueron agradables variados y de buena calidad?
                            <select class="form-control"
                                    id="rtas_12"
                                    formControlName="rtas_12"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_12').touched || 
                                    encuestaFinalForm.get('rtas_12').dirty) &&
                                    !encuestaFinalForm.get('rtas_12').valid}"
                                    >
                                <option *ngFor="let rtas_12 of respuesta"
                                        [value]="rtas_12.id">
                                    {{rtas_12.name}}
                                </option>
                            </select>
                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_12').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_12').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span> 
                        </tr>
                    </table>
                </legend>
            </fieldset>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios5">
                        Comentarios y Sugerencias
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios5"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios5">

                    </textarea>
                    </div>
                </div>
            </tr>


            <fieldset>
                <legend>
                    <th>6. General</th>
                    <table>
                        <tr>
                       *     ¿Tomaria otros Cursos en Bmind?
                            <select class="form-control"
                                    ID="rtas_13"
                                    formControlName="rtas_13"
                                    style="width:200px"
                                    [ngClass]="{'is-invalid': (encuestaFinalForm.get('rtas_13').touched || 
                                    encuestaFinalForm.get('rtas_13').dirty) &&
                                    !encuestaFinalForm.get('rtas_13').valid}"
                                    >
                                <option *ngFor="let rtas_13 of respuestaSIoNO"
                                        [value]="rtas_13.ID">
                                    {{rtas_13.Name}}
                                </option>
                            </select>

                            <span class="invalid-feedback">
                                    <span *ngIf="encuestaFinalForm.get('rtas_13').errors?.required">
                                        Por favor responda esta pregunta
                                    </span>
                                    <span *ngIf="encuestaFinalForm.get('rtas_13').errors?.minlength">
                                        Por favor responda esta pregunta
                                    </span>
                                </span> 


                        </tr>

                    </table>
                </legend>
            </fieldset>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios6">
                     *   ¿Por que?
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios6"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios6"
                                  [ngClass]="{'is-invalid': (encuestaFinalForm.get('comentarios6').touched || 
                                  encuestaFinalForm.get('comentarios6').dirty) &&
                                  !encuestaFinalForm.get('comentarios6').valid }">
                                  <option *ngFor="let comentarios6 of encuestaFinalForm"
                                  [value]="comentarios6.id">
                    </textarea>
                    <span class="invalid-feedback">
                            <span *ngIf="encuestaFinalForm.get('comentarios6').errors?.required">
                                Por favor llenar este Comentario, son 15 caracteres minimo
                            </span>
                        </span>
                    </div>
                </div>
            </tr>

            <tr>
                <div class="form-group row">
                    <label class="col-md-2 col-form-label"
                           for="comentarios7">
                        Comentarios y Sugerencias
                    </label>
                    <div class="col-md-8">
                        <textarea class="form-control"
                                  id="comentarios7"
                                  placeholder="Comentarios"
                                  rows=3
                                  formControlName="comentarios7">

                        </textarea>

                    </div>
                </div>
            </tr>

            <div class="form-group row">
                <div class="col-md-1">
                    <button class="btn btn-primary"
                            style='width:180px'
                            type="submit"
                            [disabled]="!encuestaFinalForm.valid">
                        Guardar Encuesta
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>