<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-2'>Filtrar:</div>
            <div class='col-md-4'>
                <input type='text' />
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h4>Filtrado por: </h4>
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'
                   *ngIf='usuarios && usuarios.length'>
                <thead>
                    <tr>
                        <th>
                            <button class='btn btn-primary'>
                                Mostrar Opciones
                            </button>
                        </th>
                        <th>ID</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Fecha de creación</th>
                        <th>Id Perfil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let usuario of usuarios'>
                        <td></td>
                        <td>
                            <a [routerLink]="['/usuarios', usuario.id]">
                                {{ usuario.id }}
                            </a>
                        </td>
                        <td>
                            {{ usuario.usuario}}   
                        </td>
                        <td>{{ usuario.contrasena}}</td>
                        <td>{{ usuario.fecha_creacion}}</td>
                        <td>{{ usuario.perfil_id}}</td>    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>