<div class='card-body'>
        <div class='row'>
                <div class='col-md-2'><h4>Carga:</h4></div>
                <div class='col-md-4'>
                    <input type='text' [(ngModel)]='cargaid'/>
                </div>
         </div>
         <p></p>
         <button class='btn btn-primary' 
                (click)='getCarga()'
                style='width:150px' >
            Realizar Encuesta      
        </button> 
        
        <input type="file" file-reader="fileContent" />
        <div ng-if="fileContent" class="content">
          {{fileContent}}
        </div>
        
</div>